table {

  width: 70%;
  margin: 50px auto;
  text-align: center;
  empty-cells: hide;
  border-spacing: 5px;

}

td {
  border: 1px black solid;
  height: 45px;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 24px;
}

th {
  padding: 10px;
  box-sizing: border-box;
}

.color-green {
  background-color: rgb(196, 238, 134);
}

.color-red {
  background-color: tomato;
}

.color-orange {
  background-color: rgb(245, 196, 106);
}

.color-pink {
  background-color: pink;
}

.color-gray {
  background-color: rgb(189, 188, 188);
}

.color-dark-green {
  background-color: rgba(127, 167, 101, 0.774);
}

.color-yellow {
  background-color: rgb(243, 243, 128);
}

.color-aqua {
  background-color: rgb(193, 241, 241);
}

.color-light-pink {
  background-color: rgb(247, 221, 225);
}

.color-strong-pink {
  background-color: rgb(248, 132, 151);
}

td[class="color-orange"]+td[class="color-strong-pink"] {
  border: none;
}

td[class="color-orange"]+td[class="color-light-pink"] {
  border: none;
}

.h2 {
  border: none;
}

.h1 {
  font-size: 72px;
  background-color: blanchedalmond;
  margin: 15px auto;
  text-align: center;
  box-sizing: border-box;
  width: 45%;
  border-radius: 5px;
  text-transform: uppercase;
}