
body {
  background: #E5E5E5;
}

.header {
  background-color: #202846;
  box-sizing: border-box;
  position: relative;
}

.header-content {
  display: inline-block;
  font-size: 1vw;
  font-weight: 700;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
  vertical-align: top;
  overflow: hidden;
  padding-top: 15px;
}

.header-image {
  padding: 10px 138px;
}

.header-span {
 border-right: 2px solid white;
 box-sizing: border-box;
 padding: 5px 50px;
}

.img-globe {
  height: 40px;
  padding-left: 23px;
  padding-right: 5px;
}

.h1 {
  height: 140px;
  background-color: #C6C6DC;
  font-size: 48px;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
  color: #202846;
  padding: 40px 227px;
  font-style: italic;
}

.card {
  height: 300px;
  width: 1489px;
  background-color: #BDBDC6;
  margin: 40px auto;
  box-sizing: border-box;
}

.card-image {
  float:left; 
  padding: 25px 103px;
}
 .card-title {
   font-size: 36px;
   font-weight: 700;
   color: #202846;
   font-family: 'PT Sans', sans-serif;
   font-style: italic;
   padding-top: 27px;
   margin: 0px;
 }

 .card-subtitle {
   font-size: 22px;
   font-weight: 400;
   color: #202846;
   font-family: 'PT Sans', sans-serif;
   text-align: center;
   background-color: #D7D7DD;
   width: 712px;
   display: inline-block;
   padding: 21px;
   box-sizing: border-box;
 }

 .line {
  border-bottom: 3px solid #FFFFFF;
  width: 712px;
  margin: 0px;
}

.button {
  margin: 0px;
  font-size: 24px;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;
  background-color: #202846;
  width: 150px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #202846;
  border-radius: 40%;
  padding: 15px 15px;
  position: relative;
  top: -65px;
  left: 88%;
}

.star1 {
position: relative;
left: 30%;
}

.star2 {
  position: relative;
  left: 30%;
}

.star3 {
  position: relative;
  left: 24.9%;
}

.star4 {
  position: relative;
  left: 28%;
}

img.star:hover {
  background-color: tomato;
}

.card-odessa {
  height: 325px;
}

.bottom {
  margin-top: 87px;
  height: 90px;
  background-color: #202846;
  font-size: 36px;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #EEECF1;
}

.bottom-content {
padding: 22px 100px;
}