body,
ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(255, 176, 132, 1);
}

.main {
  margin: 25px auto;
  width: 70%;
  height: 70vh;
  display: grid;
  grid-template: repeat(4, 1fr)/repeat(3, 1fr);
  gap: 2.5%;
  grid-template-areas:
    "one two two"
    "one three four"
    "one five four"
    "six five seven";
}

.main-profile {
  text-align: center;
  border: 1px solid #fff;
  box-shadow: 7px 7px #000000;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  grid-area: one;
}

.main-profile-h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.main-profile-details {
  font-size: 12px;
  font-weight: 500;
}

.main-profile-quote {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #fff;
  box-shadow: 7px 7px #000000;
  background-color: #fff;
  border-radius: 10px;
  padding: 60px;
  box-sizing: border-box;
  grid-area: six;
}

.main-bio {
  padding: 45px;
  box-sizing: border-box;
  border: 1px solid #fff;
  box-shadow: 7px 7px #000000;
  background-color: #fff;
  border-radius: 10px;
  grid-area: two;
}

.bio-dtls {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 400;

}

.goals {
  padding: 44px;
  box-sizing: border-box;
  border: 1px solid #fff;
  box-shadow: 7px 7px #29A71E;
  background-color: #fff;
  border-radius: 10px;
  grid-area: three;
}

div[class="goals"] div:nth-child(1) {
  color: #29A71E;
  font-weight: 700;
  margin-bottom: 7px;
}

div[class="goals"] ul {
  background-color: #fff;
}

.companies {
  padding: 25px;
  box-sizing: border-box;
  border: 1px solid #fff;
  box-shadow: 7px 7px #3675B0;
  background-color: #fff;
  border-radius: 10px;
  grid-area: five;
  padding-left: 50px;
}

div[class="companies"] div:nth-child(1) {
  color: #3675B0;
  font-weight: 700;
  margin-bottom: 7px;
}

div[class="companies"] ul {
  background-color: #fff;
}

.frustrations {
  padding: 25px;
  box-sizing: border-box;
  border: 1px solid #fff;
  box-shadow: 7px 7px #E13535;
  background-color: #fff;
  border-radius: 10px;
  grid-area: four;
  padding-left: 50px;
}

div[class="frustrations"] ul {
  background-color: #fff;
}

div[class="frustrations"] div:nth-child(1) {
  color: #E13535;
  font-weight: 700;
  margin-bottom: 7px;
}

.personality {
  padding: 45px;
  box-sizing: border-box;
  border: 1px solid #fff;
  box-shadow: 7px 7px black;
  background-color: #fff;
  border-radius: 10px;
  grid-area: seven;
}

div[class="personality"] ul {
  background-color: #fff;
  list-style: none;
}

div[class="personality"] div:nth-child(1) {
  color: black;
  font-weight: 700;
  margin-bottom: 7px;
}