body,
ul {
  margin: 0px;
  font-family: 'Rosario', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 37px;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav {
  background-color: black;
  width: 100%;
}

.nav-item>a {
  color: #FFFCFC;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  padding: 0 23px;
}

.nav-item>a:hover {
  color: gainsboro;
}

.card-group {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.card-group-1 {
  display: flex;
  flex-direction: column;
  animation-name: card1;
  animation-delay: 0.1s;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.card-group-2 {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  animation-name: card2;
  animation-delay: 0.1s;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.img-single-1 {
  animation-name: card3;
  animation-delay: 0.3s;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: backwards;

}

.img-single-2 {
  animation-name: card4;
  animation-delay: 0.3s;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: backwards;

}




@keyframes card1 {
  0% {
    transform: translateX(-2000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes card2 {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes card3 {
  0% {
    transform: translateX(-2000px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes card4 {
  0% {
    transform: translateX(2000px);
  }

  100% {
    transform: translateX(0px);
  }
}

.img-padding-top {
  padding-top: 42px;
}

.img-single-padding-top {
  padding-top: 70px;
}

.img-single-padding-left {
  padding-left: 72px;
}

.img-single-padding-right {
  padding-right: 72px;
}

.page-2 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  align-items: center;
}

figcaption {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
}

.page-2-cards-padding-right {
  padding-right: 120px;
}

.page-2-cards-padding-between {
  padding-right: 150px;
}

.page-2-cards-padding-bottom {
  padding-bottom: 122px;
}

.page-2-card-1 {
  animation-name: run-4;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.page-2-card-2 {
  animation-name: run-3;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.page-2-card-3 {
  animation-name: run-1;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.page-2-card-4 {
  animation-name: run-2;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.poster {
  width: 60rem;
  border-radius: 5%;
}

@keyframes run-1 {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translate(0px, 500px);

  }

  50% {
    transform: translate(-500px, 500px);
  }

  75% {
    transform: translate(-500px, 0px);
  }
}

@keyframes run-2 {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translate(-500px, 0px);

  }

  50% {
    transform: translate(-500px, -500px);
  }

  75% {
    transform: translate(0px, -500px);
  }
}

@keyframes run-3 {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translate(0px, -500px);

  }

  50% {
    transform: translate(500px, -500px);
  }

  75% {
    transform: translate(500px, 0px);
  }
}

@keyframes run-4 {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translate(500px, 0px);

  }

  50% {
    transform: translate(500px, 500px);
  }

  75% {
    transform: translate(0px, 500px);
  }
}

.h1 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  margin-top: 90px;
}

.avatar-flex {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.avatar-1 {
  background-image: url(../img/avatar-1.png);
  background-repeat: no-repeat;
  height: 700px;
  width: 400px;
  box-sizing: border-box;
}

.avatar-2 {
  background-image: url(../img/avatar-2.png);
  background-repeat: no-repeat;
  height: 700px;
  width: 400px;
  box-sizing: border-box;
  margin-left: 51px;
}

.avatar-3 {
  background-image: url(../img/avatar-3.png);
  background-repeat: no-repeat;
  height: 700px;
  width: 400px;
  box-sizing: border-box;
  margin-left: 51px;
}

.avatar-4 {
  background-image: url(../img/avatar-4.png);
  background-repeat: no-repeat;
  height: 700px;
  width: 400px;
  box-sizing: border-box;
  margin-left: 51px;
}

div[class="avatar-flex"] p[class="ava-1"] {
  display: none;
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  color: #FFFAFA;
  text-align: center;
  margin-top: 450px;
  line-height: 150px;
}

div[class="avatar-flex"] p[class="ava-2"] {
  display: none;
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  color: #FFFAFA;
  text-align: center;
  margin-top: 450px;
  line-height: 150px;
}

div[class="avatar-flex"] p[class="ava-3"] {
  display: none;
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  color: #FFFAFA;
  text-align: center;
  margin-top: 450px;
  line-height: 150px;
}

div[class="avatar-flex"] p[class="ava-4"] {
  display: none;
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  color: #FFFAFA;
  text-align: center;
  margin-top: 450px;
  line-height: 150px;
}

div[class*="avatar-1"]:hover {
  box-shadow: 10px 5px gainsboro;
  
}

div[class*="avatar-2"]:hover {
  box-shadow: 10px 5px gainsboro;
  
}

div[class*="avatar-3"]:hover {
  box-shadow: 10px 5px gainsboro;
  
}

div[class*="avatar-4"]:hover {
  box-shadow: 10px 5px gainsboro;
  
}

div[class="avatar-1"]:hover>p[class="ava-1"] {
  display: block;
  background-color: #A3530AB2;
  cursor: pointer;
}

div[class="avatar-2"]:hover>p[class="ava-2"] {
  display: block;
  background-color: #A3530AB2;
  cursor: pointer;
}

div[class="avatar-3"]:hover>p[class="ava-3"] {
  display: block;
  background-color: #A3530AB2;
  cursor: pointer;
}

div[class="avatar-4"]:hover>p[class="ava-4"] {
  display: block;
  background-color: #A3530AB2;
  cursor: pointer;
}

.inf-display {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 96px;
}

.h2 {
  font-size: 64px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

input,
textarea {
  border: 1px solid #FFFFFF;
  font-size: 36px;
  font-weight: 700;
  color: #00000080;
  padding: 20px;
  margin-bottom: 34px;
}

input {
  margin: 30px;
}

.inf-frame {
  margin-top: 17px;
  background-color: #E5E5E5;
}

iframe {
  margin-left: 34px;
  height: 100%;
}

.cnt-inf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 75px;
}

.cnt-inf div {
  padding-right: 80px;
}

.cnt-inf div p {
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
}

div p[class="h3"] {
  font-weight: 700;
  font-style: normal;
}

div[class="cnt-inf"]>div a {
  text-decoration: none;
  color: black;
}