
.h1 {
  padding-top: 72px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Inika', serif;
}

.line {
  border-bottom: 5px solid #3E45E8;
  width: 402px;
  padding-top: 25px;
}

.header {
  height: 54px;
  text-align: center;
  color: yellow;
  font-size: 48px;
  font-weight: 400;
  font-family: 'Marcellus', serif;
  padding: 25px;
}

.header_span {
  color: blue;
}

.banner {
  padding-top: 195px;
  padding-left: 80px;
  box-sizing: border-box;
  background-image: url(../img/background-image-castle.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 803px;

}

.content {
  color: white;
  width: 60%;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Inika', serif;
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 50px;
  box-sizing: border-box;
}

.main {
  padding: 0 80px;
}

.card {
  margin: 33px 0;
  border: 1px solid #FFFFFF;
  width: 30%;
  display: inline-block;
  border-radius: 45px;
  box-shadow:  0px 4px 57px 3px #00000040; ;

}

.card_image {
  width: 100%;
  vertical-align:top;
  overflow: hidden;
}

.card_title {
  color: #1E8DF2;
  font-size: 34px;
  font-weight: 700;
  font-family: 'Inika', serif;
  padding: 20px;
  box-sizing: border-box;

}

.card_subtitle {
  color: #E8C23E;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Inika', serif;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 75px;
}

.card_margin {
  margin: 0 4.5%;
}

.h2 {
  text-align: center;
}

.line_margin {
  margin: 0 auto;
}

.ukr_map {
margin: 41px 0;
text-align: center;
}

.banner_2 {
background-image: url(../img/Rectangle\ 6.png);
width: 591px;
box-sizing: border-box;
margin: 0 auto;
}

.content_2 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  font-family: 'Inika', serif;
  text-align: center;
  padding: 20px;
}

.margin_banner2-banner3 {
height: 21px;
color: white;
}

.banner_3 {
background-image: url(../img/Rectangle\ 7.png);
height: 320px;
}

.content_3 {
text-align: center;
font-size: 48px;
color: yellow;
font-family: 'Marcellus', serif;
}

.contacts {
padding-top: 31px;
text-decoration: none;
color: #A89D9D;
font-size: 36px;
font-weight: 400;
font-family: 'Marcellus SC', serif;
text-align: center;
}

.socail_media {
  margin: 21px auto;
  text-align: center;
}