body {
  margin: 0px;
  padding: 0px;
  background-color: #212529;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

.nav {
  list-style: none;
  display: flex;
}

li.nav-item>a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
  padding: 15px 12.5px;
  box-sizing: border-box;
  transition: all .5s;
}

li.nav-item>a:hover {
  color: #FFB742;
}

.btn-hire-me {
  color: #212529;
  padding: 12px 26px;
  background-color: #FFB742;
  text-decoration: none;
  border-radius: 35%;
}

.btn-hire-me:hover {
  background-color: gainsboro;
}

.section-about-me {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 124px 0;
  font-family: 'Inter', sans-serif;
}

.section-about-me-line-1 {
  font-size: 32px;
  font-weight: 700;
}

.section-about-me-line-2 {
  font-size: 48px;
  font-weight: 700;
  padding: 25px 0;
}

.section-about-me-line-3 {
  font-size: 24px;
  font-weight: 400;
}

div.section-about-me-line-1>a {
  color: #FFB742;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: #292B2E;
  width: 20%;
  border-radius: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 0 24px;
  box-sizing: border-box;
}

.card-text {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  box-sizing: border-box;
  text-align: center;
}

div.card-text>a {
  color: #FFB742;
  text-decoration: none;
  font-size: 32px;
  box-sizing: border-box;
}

.card:hover {
  background-color: #FFB742;
}

.card:hover > .card-text {
  color: #1C1C1C;
}

.card:hover > .card-text >a {
  color: #1C1C1C;
}

.main-inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin: 127px auto;
}

.main-inf-line-1 {
  color: #FFB742;
  padding: 6px 25px;
  background-color: #FFFFFF14;
  text-decoration: none;
  border-radius: 35%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.main-inf-line-2 {
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 25px 0px;
}

.main-inf-line-3 {
  font-size: 16px;
  font-weight: 400;
  color: #D4D4D4;
  padding-bottom: 54px;
  font-family: 'Inter', sans-serif;
}

.main-inf-dtls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  list-style: none;
  display: flex;
}

.main-nav-item>a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0px 32px;
  transition: all .3s;
  box-sizing: border-box;
}

li.main-nav-item>a:hover {
  color: #212529;
  background-color: #FFB742;
  padding: 5px 20px;
  border-radius: 35%;
  box-sizing: border-box;
}

.works-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arts-item {
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arts-margin {
  margin: 0px 15px;
}

.footer {
  background-color: #1C1C1C;
  width: 100%;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 470px;
  margin-top: 115px;
}

.footer-kb {
  color: #FFB742;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
}

.footer-kb-descr {
  font-size: 16px;
  color: #D4D4D4;
  font-weight: 600;
}

.footer-head {
  font-size: 21.59px;
  font-weight: 700;
  color: #F5FBF2;
}

.footer-deskr >a {
  font-size: 17.99px;
  font-weight: 500;
  color: #7B7B7B;
  text-decoration: none;
}

.footer-deskr {
  font-size: 17.99px;
  font-weight: 500;
  color: #7B7B7B;
}

.footer-deskr >a:active {
  font-size: 30px;
  color: #FFB742;
}

.footer-deskr >a:hover {
  color: #FFB742;
}