body {
  background-color: #E5E5E5;
  font-family: 'Public Sans', sans-serif;
}

select,
input {
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  width: 392px;
  border: 1px solid #ADADAD;
  padding-left: 10px;
}

.main-flex {
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}

.header {
  font-size: 24px;
  font-weight: 700;
  color: #171717;
  margin: 64px 48px;
}

.title-star {
  color: red;
}

.header-title {
  margin: 24px 43px;
  font-size: 14px;
  font-weight: 400;
}

.main-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 32px;
}

.margin-main {
  margin-left: 43px;
  min-width: 700px;
  max-width: 1000px;
}

.calendar {
  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat;
  background-position: 97%;
}

.margin-top {
  margin-top: 25px;
}

.pointer {
  background-image: url(../img/pointer.svg);
  background-repeat: no-repeat;
  background-position: 97%;
}

.magnifier {
  background-image: url(../img/magnifier.svg);
  background-repeat: no-repeat;
  background-position: 97%;
}

div.margin-top>label[for="form7"]+input {
  color: blue;
}

input[type="checkbox"] {
  height: 24px;
  width: 24px;
}

.checkbox {
  display: flex;
  align-items: flex-end;
  position: relative;
  left: -310px;
  box-sizing: border-box;
}

label[for="form2"]+input,
label[for="form6"]+input {
  background-color: #EFEFEF;
}

.checkbox-2 {
  display: flex;
  align-items: flex-end;

}

hr {
  margin: 32px 43px;
  border: 1px solid #D1D1D1;
}

div.main-flex>div>label[for="form32"]+input {
  color: blue;
}

.btn {
  background-color: #0050D8;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 9px 16px;
  width: 70px;
  position: relative;
  left: 970px;
  margin-bottom: 110px;

}