
body {
  background-color: gainsboro;
}

.cube {
  background: linear-gradient(180deg,blue 50%, yellow 50%);
  box-sizing: border-box;
  margin: 20px;
  width: 500px;
  height: 500px;
  display: inline-block;
}

.wave-1 {
  background-image: url(../img/Glyph.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 138px 50px;
}

.wave-2 {
  background-image: url(../img/Glyph.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 242px 60px;
}
 
.circle {
  border-radius: 50%;
  display: inline-block;
}

.cubicle {
  background-image: url(../img/cubicle.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 100px 0;
}

.cubicle-2 {
  background-image: url(../img/cubicle.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 90px 110px;
}

.plane {
  background-image: url(../img/Plane.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 116px 0px 0px 160px;
}

.plane-2 {
  background-image: url(../img/Plane.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 40px 0px 0px 80px;
}

.diya {
  background-image: url(../img/diya.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 146px 83px;
}

.diya-2 {
  background-image: url(../img/diya.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 145px 95px;
}

.cube-black {
  vertical-align: top;
  background: black;
  box-sizing: border-box;
  margin: 20px;
  width: 500px;
  height: 500px;
  display: inline-block;
}

.diya-3 {
  background-image: url(../img/diya.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 130px 95px;
}

.flag-1 {
  margin: 210px 0px 0px 120px;
  box-sizing: border-box;
}

.flag-2 {
  margin: -115px 0px 75px -80px;
  box-sizing: border-box;
}

.flag-3-4 {
  margin: 15px 306px 0px 15px; 
  box-sizing: border-box;
}

.diya-4 {
  background-image: url(../img/diya.png);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 50px 0px 0px 90px;
}
